.menu {
    padding: 30px 0 50px;
}

.friend {
    padding: 30px 0 120px;
}

.friend .list-wrap .brand-list, .friend .list-wrap .brand-view {
    padding: 30px 0 0;
}

.friend .list-wrap .brand-list .brand, .friend .list-wrap .brand-view .brand {
    font-size: 0;
    margin-bottom: 100px;
}

.friend .list-wrap .brand-list .brand .brand-logo, .friend .list-wrap .brand-view .brand .brand-logo {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 296px;
}

.friend .list-wrap .brand-list .brand .brand-logo .brn-logo, .friend .list-wrap .brand-view .brand .brand-logo .brn-logo {
    position: relative;
    display: inline-block;
    width: 296px;
    height: 390px;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
}

.friend .list-wrap .brand-list .brand .brand-logo .brn-logo a, .friend .list-wrap .brand-view .brand .brand-logo .brn-logo a {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.friend .list-wrap .brand-list .brand .brand-logo .brn-logo a .ico-brand,
.friend .list-wrap .brand-view .brand .brand-logo .brn-logo a .ico-brand {
    width: 140px;
    height: 140px;
    background: none;
}

.friend .list-wrap .brand-list .brand .brand-logo .brn-logo .cont,
.friend .list-wrap .brand-view .brand .brand-logo .brn-logo .cont {
    margin-top: 23px;
    padding: 0 20px;
}

.friend .list-wrap .brand-list .brand .brand-logo .brn-logo .cont .title,
.friend .list-wrap .brand-view .brand .brand-logo .brn-logo .cont .title {
    font-size: 20px;
    color: #FFF;
}

.friend .list-wrap .brand-list .brand .brand-logo .brn-logo .cont .desc,
.friend .list-wrap .brand-view .brand .brand-logo .brn-logo .cont .desc {
    margin-top: 9px;
    font-size: 14px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.7);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 22px;
    height: 44px;
    word-break: break-all;
    white-space: initial;
}

.friend .list-wrap .brand-list .brand .brand-logo .brn-banner, .friend .list-wrap .brand-view .brand .brand-logo .brn-banner {
    margin-top: 30px;
}

.friend .list-wrap .brand-list .brand .brand-logo .brn-banner a, .friend .list-wrap .brand-view .brand .brand-logo .brn-banner a {
    display: block;
    margin-bottom: 10px;
}

.friend .list-wrap .brand-list .brand .brand-logo .brn-banner a:last-child,
.friend .list-wrap .brand-view .brand .brand-logo .brn-banner a:last-child {
    margin-bottom: 0;
}

.friend .list-wrap .brand-list .brand .brand-store, .friend .list-wrap .brand-view .brand .brand-store {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 296px);
    padding-left: 32px;
}

.friend .list-wrap .brand-list .brand .brand-store .brn-detail, .friend .list-wrap .brand-view .brand .brand-store .brn-detail {
    margin-bottom: 32px;
}

.friend .list-wrap .brand-list .brand .brand-store .brn-detail .btn-toggle.close span,
.friend .list-wrap .brand-view .brand .brand-store .brn-detail .btn-toggle.close span {
    color: #333;
}

.friend .list-wrap .brand-list .brand .brand-store .brn-detail .btn-toggle.close span:after,
.friend .list-wrap .brand-view .brand .brand-store .brn-detail .btn-toggle.close span:after {
    background-image: url("../images/ico/ico_arrow.png");
    transform: rotate(-180deg);
}

.friend .list-wrap .brand-list .brand .brand-store .brn-detail .btn-toggle span,
.friend .list-wrap .brand-view .brand .brand-store .brn-detail .btn-toggle span {
    font-size: 16px;
}

.friend .list-wrap .brand-list .brand .brand-store .brn-detail .btn-toggle span:after,
.friend .list-wrap .brand-view .brand .brand-store .brn-detail .btn-toggle span:after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 8px;
    background-image: url("../images/ico/ico_arrow.png");
    transform: rotate(0deg);
    vertical-align: 2px;
    margin-left: 2px;
}

.friend .list-wrap .brand-list .brand .brand-store .brn-detail .detail-cont,
.friend .list-wrap .brand-view .brand .brand-store .brn-detail .detail-cont {
    margin-top: 15px;
}

.friend .list-wrap .brand-list .brand .brand-store .brn-prd-area ul,
.friend .list-wrap .brand-view .brand .brand-store .brn-prd-area ul {
    margin: 0 0 -60px -32px;
}

.friend .list-wrap .brand-list .brand .brand-store .brn-prd-area ul li,
.friend .list-wrap .brand-view .brand .brand-store .brn-prd-area ul li {
    width: calc(33.3% - 32px);
}

.friend .list-wrap .brand-list .brand .brand-store .brn-prd-area+.btn-wrap,
.friend .list-wrap .brand-view .brand .brand-store .brn-prd-area+.btn-wrap {
    margin: 30px 14px 0;
}

.friend .list-wrap .brand-list .brand .brn-slider, .friend .list-wrap .brand-view .brand .brn-slider {
    margin-bottom: 32px;
    position: relative;
}

.friend .list-wrap .brand-list .brand .brn-slider .slick-arrow.slick-prev,
.friend .list-wrap .brand-view .brand .brn-slider .slick-arrow.slick-prev {
    left: 20px;
}

.friend .list-wrap .brand-list .brand .brn-slider .slick-arrow.slick-next,
.friend .list-wrap .brand-view .brand .brn-slider .slick-arrow.slick-next {
    right: 20px;
}

.friend .list-wrap .brand-list .brand:last-child, .friend .list-wrap .brand-view .brand:last-child {
    margin-bottom: 0;
}

.list-wrap .page-title {
    position: relative;
    /* margin-bottom: 22px; */
    padding-top: 50px;
}

.list-wrap .page-title .img-box {
    margin-bottom: 30px;
}

.list-wrap .page-title .title {
    font-size: 0;
    line-height: 50px;
    padding: 10px 0 30px;
}

.list-wrap .page-title .title .icon {
    margin-right: 10px;
}

.list-wrap .page-title .title .icon img {
    width: 50px;
    height: 50px;
}

.list-wrap .page-title .title strong {
    display: inline-block;
    font-size: 20px;
    color: #333;
    font-weight: 500;
}

.list-wrap .page-title a {
    position: relative;
    display: inline-block;
}

.list-wrap .page-title a span {
    position: relative;
    font-size: 16px;
    color: #333;
    display: inline-block;
    /* padding-left: 18px; */
}

.list-wrap .page-title a span em {
    color: #458e15;
}

.list-wrap .page-title a span#fast-span {
    padding-left: 18px;
}

.list-wrap .page-title a span#fast-span:before {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 7px;
    width: 1px;
    height: 10px;
    background: #ccc;
}

.list-wrap .page-title a .ico-arrow-left3 {
    margin-left: 4px;
    vertical-align: -7px;
}

.list-wrap .page-title a:after {
    display: inline-block;
    font-size: 0;
    width: 24px;
    height: 24px;
    background-image: url("../images/ico/ico_arrow_left3.png");
}

.list-wrap .cate-wrap {
    position: relative;
    height: 35px;
    background: #fff;
    transition: .3s;
}

.list-wrap .cate-wrap .item {
    vertical-align: top;
}

.list-wrap .cate-wrap .item:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: #ff4b00;
    transition: .3s;
}

.list-wrap .cate-wrap .cate-inner {
    font-size: 0;
    position: relative;
    background: #fff;
    height: 100%;
}

.list-wrap .cate-wrap .cate-inner .item:first-child {
    margin-left: 0px !important;
}

.list-wrap .cate-wrap .cate-inner .item {
    position: relative;
    display: inline-block;
    margin-right: 27px;
    background: #fff;
    font-size: 16px;
    text-align: center;
    height: 100%;
    width: auto;
}

.list-wrap .cate-wrap .cate-inner .item span {
    display: block;
}

.list-wrap .cate-wrap .cate-inner .item:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: #458e15;
    transition: .3s;
}

.list-wrap .cate-wrap .cate-inner .item.active {
    color: #458e15 !important;
    font-weight: 500;
}

.list-wrap .cate-wrap .cate-inner .item.active span {
    color: #458e15 !important;
    font-weight: 500;
}

.list-wrap .cate-wrap .cate-inner .item.active:after {
    width: calc(100%);
}

.list-wrap .sort-box {
    position: relative;
    padding: 0 0 15px;
    font-size: 0;
}

.list-wrap .sort-box:after {
    display: block;
    clear: both;
    content: "";
}

.list-wrap .sort-box .sort-type {
    position: relative;
}

.list-wrap .sort-box .sort-type.sort {
    float: right;
    text-align: right;
}

.list-wrap .sort-box .sort-type.sort a {
    font-size: 16px;
}

.list-wrap .sort-box .sort-type.sort a:after {
    content: '';
    display: inline-block;
    font-size: 0;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    vertical-align: -4px;
    background-image: url("../images/ico/ico_sort2.png");
    transform: rotate(180deg);
}

.list-wrap .sort-box .sort-type.sort ul {
    display: none;
    position: absolute;
    top: 30px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.16);
    padding: 10px 14px;
    z-index: 10;
    width: 106px;
}

.list-wrap .sort-box .sort-type.sort ul li {
    text-align: left;
}

.list-wrap .sort-box .sort-type.sort ul li a {
    font-size: 14px;
    line-height: 36px;
}

.list-wrap .sort-box .sort-type.sort ul li a:after {
    display: none;
}

.list-wrap .sort-box .sort-type.sort ul li.active a, .list-wrap .sort-box .sort-type.sort ul li:hover a {
    color: #458e15;
}

.list-wrap .sort-box .sort-type.sort ul.sort-list {
    right: 0;
}

.list-wrap .sort-box .sort-type.ctg {
    float: left;
}

.list-wrap .sort-box .sort-type.ctg a {
    font-size: 16px;
}

.list-wrap .sort-box .sort-type.active.sort a:after {
    transform: rotate(0deg);
    transition: 0.5s all;
}

.list-wrap .sort-box .sort-type.active ul {
    display: block;
}

.list-wrap .prd-area .nodata-wrap {
    padding: 100px 0;
    background: #f7f7f7;
    text-align: center;
}

.list-wrap .prd-area .nodata-wrap p {
    margin-top: 11px;
    font-size: 18px;
    line-height: 26px;
}

.list-wrap .prd-area ul {
    font-size: 0;
    margin-bottom: -60px;
    margin-left: -32px;
}

.list-wrap .prd-area ul li {
    display: inline-block;
    width: calc(25% - 32px);
    position: relative;
    margin: 0 0 60px 32px;
    vertical-align: top;
    height: 540px;
}

.list-wrap .prd-area ul li .thumb {
    position: relative;
}

.list-wrap .prd-area ul li .thumb img {
    border-radius: 8px;
    overflow: hidden;
}

.list-wrap .prd-area ul li .thumb .tag {
    position: absolute;
}

.list-wrap .prd-area ul li .thumb .tag.self {
    bottom: -6px;
    left: 6px;
}

.list-wrap .prd-area ul li .thumb .tag.sale {
    top: 0px;
    left: 0px;
    opacity: 0.9;
}

.list-wrap .prd-area ul li .info {
    position: relative;
    padding: 15px 6px 0;
}

.list-wrap .prd-area ul li .info .subject {
    height: 63px;
    font-size: 22px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
    height: 63px;
    word-break: break-all;
    white-space: initial;
}

.list-wrap .prd-area ul li .info .deliverybox {
    height: 26px;
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 26px;
    height: 26px;
    word-break: break-all;
    white-space: initial;
    margin-top: 10px;
    color:#707070;font-family:'Noto Sans KR', sans-serif;
}

.list-wrap .prd-area ul li .info .price {
    margin-top: 11px;
    min-height: 33px;
    display: flex;
    align-items: center;
}

.list-wrap .prd-area ul li .info .price p {
    font-family: "SFPro", sans-serif;
    font-size: 22px;
}

.list-wrap .prd-area ul li .info .price p strong {
    font-family: "SFPro", sans-serif;
    font-size: 22px;
    font-weight: 700;
}

.list-wrap .prd-area ul li .info .price p.original {
    font-size: 20px;
    color: #b2b2b2;
    text-decoration: line-through;
    margin-left: 10px;
    position: relative;
}

.list-wrap .prd-area ul li .info .price p:first-child {
    margin-top: 0;
}

.list-wrap .prd-area ul li .info .star-wrap {
    margin-top: 7px;
    font-size: 0;
}

.list-wrap .prd-area ul li .info .star-wrap .ico-star {
    vertical-align: -5px;
    background-image: url(../images/disp/ico_star2.png);
}

.list-wrap .prd-area ul li .info .star-wrap span {
    font-family: "SFPro", sans-serif;
    vertical-align: middle;
    display: inline-block;
    padding-left: 3px;
    font-size: 16px;
    color: #888;
}

.list-wrap .prd-area ul li .info .star-wrap span strong {
    font-size: 16px;
    display: inline-block;
    padding-right: 5px;
    font-weight: 500;
    font-family: "SFPro", sans-serif;
    color: #333;
}

.list-wrap .prd-area ul li .info .tag-box {
    margin-top: 15px;
}

.list-wrap .prd-area ul li .info .tag-box .tag+.tag {
    margin-right: 10px;
}

.list-wrap .prd-area ul li .info .friend-box {
    margin-top: 15px;
    display: none;
}

.list-wrap .prd-area ul li .info .friend-box img {
    display: inline-block;
    margin-right: 5px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.list-wrap .prd-area ul li .info .friend-box a {
    position: relative;
    display: inline-block;
    font-size: 12px;
    color: #888;
    line-height: 20px;
}

.list-wrap .prd-area ul li .info .friend-box a:after {
    content: '';
    display: inline-block;
    font-size: 0;
    background-size: 100% 100%;
    width: 6px;
    height: 10px;
    margin-left: 3px;
    vertical-align: -1px;
    background-image: url("../images/ico/ico_arrow_left4.png");
}

.list-wrap .prd-area ul li .btn-box {
    position: absolute;
    bottom: 15px;
    right: 15px;
    opacity:0.8;
}

.list-wrap .prd-area ul li .btn-box a {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 38px;
    background: #f7f7f7;
    border-radius: 100%;
    font-size: 0;
}

.list-wrap .prd-area ul li .btn-box a [class^='ico-'] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list-wrap .prd-area ul li .soldout .thumb:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.list-wrap .prd-area ul li .soldout .thumb .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-weight: 600;
}

.list-wrap .prd-area ul li .soldout .info:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
}

.list-wrap .prd-area+.btn-wrap {
    margin: 0 14px;
}

.list-wrap .prd-area+.btn-wrap .ico-sort2 {
    transform: rotate(180deg);
}

.list-wrap .banner-area {
    margin-top: 60px;
}

.list-wrap-search .page-title {
    position: relative;
    /* margin-bottom: 22px; */
    padding-top: 50px;
}

.list-wrap-search .page-title .img-box {
    margin-bottom: 30px;
}

.list-wrap-search .page-title .title {
    font-size: 0;
    line-height: 50px;
}

.list-wrap-search .page-title .title .icon {
    margin-right: 10px;
}

.list-wrap-search .page-title .title .icon img {
    width: 50px;
    height: 50px;
}

.list-wrap-search .page-title .title strong {
    display: inline-block;
    font-size: 20px;
    color: #333;
    font-weight: 500;
}

.list-wrap-search .page-title a {
    position: relative;
    display: inline-block;
}

.list-wrap-search .page-title a span {
    position: relative;
    font-size: 16px;
    color: #333;
    display: inline-block;
    /* padding-left: 18px; */
}

.list-wrap-search .page-title a span em {
    color: #458e15;
}

.list-wrap-search .page-title a span#search {
    padding-left: 18px;
}

.list-wrap-search .page-title a span#search:before {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 7px;
    width: 1px;
    height: 10px;
    background: #ccc;
}

.list-wrap-search .page-title a .ico-arrow-left3 {
    margin-left: 4px;
    vertical-align: -7px;
}

.list-wrap-search .page-title a:after {
    display: inline-block;
    font-size: 0;
    width: 24px;
    height: 24px;
    background-image: url("../images/ico/ico_arrow_left3.png");
}

/* 
.paging {
  margin-top: 60px;
  text-align: center;
  font-size: 0; }
  .paging [class^="btn-"] {
    font-size: 0; }
  .paging a {
    font-family: "SFPro", sans-serif;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 2px;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    vertical-align: middle;
    font-size: 18px;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .paging a.active {
      border: 1px solid #ff4b00;
      color: #ff4b00; }
    .paging a.btn-prev {
      background: url("../images/ico/ico_paging_prev.png"); }
    .paging a.btn-next {
      background: url("../images/ico/ico_paging_next.png"); } */
@media screen and (min-width: 320px) and (max-width: 413px) {
    .menu .prd-area .tag-box {
        text-align: left;
    }

    .menu .prd-area .tag.finish {
        padding: 0 5px;
    }

    .menu .prd-area .tag.fresh {
        padding: 0 5px;
    }

    .menu .prd-area .tag+.tag {
        margin-left: 0;
        margin-top: 2px;
    }
}


#pageList{
	text-align: center;
	margin: 20px 0 0 0;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5em;
}
#pageList a{
	
	text-decoration: none;
	color: #333;
	
}
#pageList a:hover{
	font-weight: bold;
	color: #F90;
	text-decoration: underline;
}